EsquemasXML/DatosEstacionType3.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DatosEstacionType3">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="localizacion"/>
        <xs:element type="xs:float" name="temperatura"/>
        <xs:element type="xs:string" name="unidadesTemperatura"/>
        <xs:element type="xs:int" name="velViento"/>
        <xs:element type="xs:int" name="dirViento"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
