EsquemasXML/DatosEstacionType1.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DatosEstacionType1">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="localizacion"/>
        <xs:element type="xs:float" name="temperatura"/>
        <xs:element type="xs:string" name="unidadesTemperatura"/>
        <xs:element type="xs:int" name="probabilidadPrecipitacion"/>
        <xs:element type="xs:int" name="precipitacion"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
