EsquemasXML/Message.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Message">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="operacion"/>
        <xs:element type="xs:string" name="localidad"/>
        <xs:element type="xs:string" name="argumento"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
